<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index/" class="navbar-brand" 
                   style="font-size: 30px; padding-left: 500px">
                    NEW QUERY
                </a>
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left: 300px;">
                    <li>@Html.ActionLink("TABLE CLUBS", "Index", "Clubs")</li>
                    <li>@Html.ActionLink("TABLE PLAYERS", "Index", "Players")</li>
                    <li>@Html.ActionLink("TABLE STADIUMS", "Index", "Stadiums")</li>
                    <li>@Html.ActionLink("TABLE GAMES SCHEDULE", "Index", "Gameschedule")</li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lab9(Roman Sydor FEI-22)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
